#Projeto 20 - Biblioteca de leitura e escrita de arquivos com pandas<br>
#Disciplica: Lógica de Programação<br>
#Aluno: Renato Araújo

In [15]:
import pandas as pd
tabela = pd.read_excel("notas_alunos.xlsx")
media_academica=(tabela["Nota 1"]+tabela["Nota 2"])/2
tabela["Média Acadêmica"]=media_academica
tabela.loc[(tabela["Média Acadêmica"]>=7) | (tabela["Faltas"]<=5),"Situação Acadêmica"]="Aprovado"
tabela.loc[(tabela["Média Acadêmica"]<7) | (tabela["Faltas"]>5),"Situação Acadêmica"]="Reprovado"
tabela["Situação Acadêmica"]

#Salvei em excel porque não consegui trabalhar em csv no cscode
tabela.to_excel("alunos_situacao.xlsx")
display(tabela)

     Aluno  Nota 1  Nota 2  Faltas  Média Acadêmica Situação Acadêmica
0  aluno_1       7       7       1              7.0           Aprovado
1  aluno_2       3      10       7              6.5          Reprovado
2  aluno_3       9       4       2              6.5          Reprovado
3  aluno_4      10       6       9              8.0          Reprovado

Maior Número de faltas

In [16]:
#Maior número de faltas
maior_num_faltas = tabela ["Faltas"].max()
print("Maior Números de Faltas é :" + str(maior_num_faltas))

Maior Números de Faltas é :9

Média Geral das Notas Dos Alunos

In [17]:
media_geral_das_notas = tabela ["Média Acadêmica"].median()
print("A Média Geral das Notas dos Alunos é: "+ str(media_geral_das_notas))

A Média Geral das Notas dos Alunos é: 6.75

A Maior Média

In [18]:
maior_media = tabela ["Média Acadêmica"].max()
print("A Maior Média é: " + str(maior_media))

A Maior Média é: 8.0